@import "tailwindcss";


/* Added these values only to realize you can do custom colors in tailwind */
/* May end up using them if we want a light mode button though, so I'm just going to leave them */
:root {
  --primary: #3AB3FF;
  --navy: #1A1D23;
}

.navy-bg{
  background-color: var(--navy);
}

.primary-text{
  color: var(--primary);
}

.primary-bg{
  background-color: var(--primary);
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* or left: 0 */
  width: 4rem;
  height: 4rem;
  background: var(--navy);
  border: 4px solid var(--primary);
  border-radius: 50%;
  transform: translate(55%, -50%);
}