@import "tailwindcss";


/* Added these values only to realize you can do custom colors in tailwind */
/* May end up using them if we want a light mode button though, so I'm just going to leave them */
:root {
  --primary: #3AB3FF;
  --slate: #151515;
  --black: #0a0a0a;
  --white: white;
}

[theme="dark"] {
  --slate: white;
  --black: #EAEAEA;
  --white: #0a0a0a;
}
  [theme="dark"] .highlight:hover{
      border-color: #3AB3FF;
  }
  [theme="dark"] .white-text{
    color: black;
  }

  [theme="dark"] .logo{
    background-color: var(--primary);
    border-radius:10px;
  }

.bg-main{
  background-color: var(--black);
  transition: background-color 0.4s ease;
}

.logo{
  transition: background-color 0.4s ease;
}

.white-text{
    color: white;
}

.bg-diff{
  background-color: var(--slate);
  transition: background-color 0.4s ease-in-out;
}

.bg-prim{
  background-color: var(--primary);
}

.highlight{
  border: 1px solid var(--slate);
}

.white-highlight{
  border: 1px solid var(--primary);
}

.rounded{
  border-radius: 9px;
}

.highlight:hover{
  border-color: var(--primary);
}

.white-highlight:hover{
  border-color: white;
}

.bg-accent{
  background-color: var(--primary);
}

.primary-text{
  color: var(--primary);
}

.primary-bg{
  background-color: var(--primary);
}

.sidebar{
  position: relative;
}

.tags{
  color: var(--black);
  font-size: xx-small;
  font-weight: 500;
  padding: 4px 6px;
  background-color: var(--primary);
  display: inline-block;
  border-radius: 2px;
}

.circle{
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: var(--black);
  border: 4px solid var(--primary);
  border-radius: 50%;
  transform: translate(55%, -50%);
  transition: background-color 0.4s ease;
}