@import "tailwindcss";


/* Added these values only to realize you can do custom colors in tailwind */
/* May end up using them if we want a light mode button though, so I'm just going to leave them */
:root {
  --primary: #3AB3FF;
  --slate: #151515;
  --black: #0a0a0a;
  --white: white;
}

[theme="dark"] {
  --slate: #EAEAEA;
  --black: white;
  --white: #0a0a0a;
}
  [theme="dark"] .highlight:hover{
      border-color: #3AB3FF;
  }
  [theme="dark"] .white-text{
    color: black;
  }

  [theme="dark"] .logo{
    background-color: var(--primary);
  }

.bg-main{
  background-color: var(--black);
  transition: background-color 0.4s ease;
}

.logo{
  transition: background-color 0.4s ease;
  border-radius:10px;
}

.white-text{
    color: white;
}

.bg-diff{
  background-color: var(--slate);
  transition: background-color 0.4s ease-in-out;
}

.bg-prim{
  background-color: var(--primary);
}

.highlight{
  border: 1px solid var(--slate);
}

.white-highlight{
  border: 1px solid var(--primary);
}

.rounded{
  border-radius: 9px;
}

.highlight:hover{
  border-color: var(--primary);
}

.white-highlight:hover{
  border-color: white;
}

.bg-accent{
  background-color: var(--primary);
}

.primary-text{
  color: var(--primary);
}

.primary-bg{
  background-color: var(--primary);
}

.sidebar{
  position: relative;
}

.tags{
  color: var(--black);
  font-size: x-small;
  font-weight: 500;
  padding: 2px 6px;
  display: inline-block;
  border-radius: 2px;
}

.circle{
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: var(--black);
  border: 4px solid var(--primary);
  border-radius: 50%;
  transform: translate(55%, -50%);
  transition: background-color 0.4s ease;
}

::-webkit-scrollbar {
  width: 2px; /* Width for vertical scrollbars */
  height: 2px; /* Height for horizontal scrollbars */
}

.spin {
  width: 40px;
  height: 40px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 0 0 15px 15px;
  --c:#0000 calc(100%/3),#3AB3FF 0 calc(2*100%/3),#0000 0;
  --c1:linear-gradient(90deg,var(--c));
  --c2:linear-gradient( 0deg,var(--c));
  background: var(--c1),var(--c2),var(--c1),var(--c2);
  background-size: 300% 4px,4px 300%;
  background-repeat: no-repeat;
  animation: l12 1s infinite linear;
}
.loader:after {
  margin: 15px 15px 0 0;
  transform: scale(-1,-1);
}
@keyframes l12 {
  0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
  25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
  50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
  75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
 75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
  100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}